@font-face {
    font-family: ar-font;
    src: url(/src/fonts/Mirza-Regular.ttf);
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: "ar-font";
    font-size: 14px;
    line-height: 1.429;
    width: 100%;
    margin: 0;
}

header {
    background-image: url("/src/images/bg-1.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding-top: 20px;
    height: 100vh;
}

.custom-title {
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 60px;
    color: #555;
    position: relative;
}

.card {
    text-align: center;
    margin-top: 50px;
    border: #fafafa solid 2px;
    border-radius: 0px;
}

.custom-title h2 {
    font-size: 50px;
    position: relative;
}

.login {
    height: 100vh;
}

form {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .services .card img {
        transform: translateX(-165px);
    }
}

@media (max-width: 991px) {
    .services .card img {
        transform: translateX(-122px);
    }
}

@media (max-width: 768px) {
    .navbar-logo {
        float: right;
        transform: translateX(150px);
    }
    .navbar-custom-collapse {
        transform: translate(-300px, 10px);
        font-size: 25px;
    }
    .services .card img {
        transform: translateX(-189px);
    }
    .contact-us {
        text-align: center;
    }
}

@media (max-width: 660px) {
    .navbar-custom-collapse {
        transform: translate(-250px, 10px);
    }
    .navbar-logo {
        transform: translateX(100px);
    }
    header .page-heading h1 {
        font-size: 50px;
    }
    header .page-heading p {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .navbar-custom-collapse {
        transform: translate(-200px, 10px);
    }
    .navbar-logo {
        transform: translateX(50px);
    }
}

@media (max-width: 542px) {
    .services .card img {
        transform: translateX(-185px);
    }
}

@media (min-width:500px) and (max-width: 542px) {
    .services .card img {
        transform: translateX(-170px);
    }
    .navbar-custom-collapse {
        transform: translate(-170px, 10px);
    }
}

@media (min-width:768px) and (max-width:992) {
    #ToursIndex .card .card-body h5 {
        font-size: 55px;
    }
}

