
#egypt-tour {
    height: 100%;
    background-color: #FCAE5D;
    .tours-travels {
        background-image: url(/src/images/bg-4.jpg);
        background-position: center center;
        background-size: cover;
    }
}